<% layout('layouts/boilerplate') %>
<div id="main-screen">
	<h1 class="title">Chatroom</h1>
	<p class="caption">Chat with strangers. Make unexpected connections!</p>

	<form action="/chatroom">
		<button class="btn-hover btn-primary my-3">Enter Chatroom!</button>
	</form>
</div>