<% layout('layouts/boilerplate') %>
<div class="main-screen">
    <div class="card">
        <div class="card-title">
            <h5 class="card-title">Chatroom</h5>
        </div>
        <p class="card-text">Chat with strangers. Make unexpected connections.</p>
        <a href="/chatroom" class="btn btn-danger">Enter Chatroom</a>
    </div>
</div>
