<% layout('layouts/boilerplate') %>
<div class="app">
    <div class="screen join-screen active">
        <div class="form">
            <h2>Join Chatroom</h2>
            <div class="form-input">
                <label for="username">Username: </label>
                <input type="text" id="username">
            </div>
            <div class="form-input">
                <label for="password">Password: </label>
                <input type="password" id="password">
            </div>
            <div class="form-input">
                <button id="join-user">Join Chat</button>
                <p>New User? <a href="/register">Create Account</a></p>
            </div>
        </div>
    </div>
</div>