<% layout('layouts/boilerplate') %>
<div class="form container-fluid">
	<div class="card ">
		<div class="card-body">
			<h2 class="card-title title">Login</h2>
			<form action="/login" method="POST" class="needs-validation" novalidate>
				<div class="form-input">
					<label for="email" class="form-label">Email </label>
					<input type="email" name="email" id="email" class="form-control" required>
					<div class="valid-feedback">
						Looks good!
					</div>
					<div class="invalid-feedback">
						Enter a valid email address!
					</div>
				</div>
				<div class="form-input">
					<label for="password" class="form-label">Password </label>
					<input type="password" name="password" id="password" class="form-control" required>
					<div class="valid-feedback">
						Looks good!
					</div>
					<div class="invalid-feedback">
						Password cannot be empty!
					</div>
				</div>
				<div class="form-input">
					<button id="join-user" type="submit" class="btn-secondary my-3">Join Chatroom</button>
				</div>
				<p>New User? <a href="/register">Create Account</a></p>
			</form>
		</div>
	</div>
</div>

<script>
	(function() {
		'use strict';
		window.addEventListener('load', function() {
			var forms = document.getElementsByClassName('needs-validation');
			var validation = Array.prototype.filter.call(forms, function(form) {
				form.addEventListener('submit', function(event) {
					if (form.checkValidity() === false) {
						event.preventDefault();
						event.stopPropagation();
					}
					form.classList.add('was-validated');
				}, false);
			});
		}, false);
	})();
</script>