<% layout('layouts/boilerplate') %>
<div class="form container-fluid">
	<div class="card p-4">
		<div class="card-body profile-body">
			<svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
				<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
				<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
			</svg>

			<h2 class="card-title mt-3"><%= user.displayName %></h2>
			<h2 class="card-subtitle text-body-secondary mb-3"><%= user.email %></h2>

			<form class="my-3" action="/profile" method="POST">
				<div class="form-group row">
					<label class="form-label" for="displayName">Change Display Name</label>
					<input type="text" class="form-control" id="displayName" name="displayName" value="<%= user.displayName %>">
				</div>
				<button type="submit" class="btn btn-secondary mt-3">Change Display Name</button>
			</form>

			<form action="/forgot-password">
				<button class="btn-secondary mt-3">Reset Password</button>
			</form>
		</div>
	</div>
</div>